* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'VT323', monospace;
    color: rgb(107, 85, 57);

}

body {
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    width: 100vw;
    height: 25px;
    margin-bottom: 5px;

    position: fixed;
    top: 0;

    background-color: rgb(179, 179, 146);
    z-index: 99;
}

i {
    height: fit-content;
}

nav ul {
    float: right;
}

nav ul li {

    display: inline;
    margin: 10px 20px;

}

nav ul li:hover {
    background-color: rgba(128, 128, 128, 0.636);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}

main {
    width: 600px;
    margin: 5% auto;
    padding: 10%;
    padding-top: 0;

    background-color: rgba(255, 228, 196, 0.578);
}

.intro {

    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.intro img {
    width: 100%;
    margin: 20px auto;
}

h1 {

    font-size: 7rem;
    text-align: center;
}

h2 {
    font-size: 5rem;
    text-align: center;
}

p {
    font-size: 2rem;
    text-align: justify;
}

main>section {
    margin-bottom: 20px;
}

.character {
    margin: 20px auto;
    position: relative;
    width: 350px;
    height: 250px;

}

.character img {
    width: 100%;
    height: 100%;
    border-radius: 25%;
    position: absolute;
}

.character div {
    position: absolute;
    left: 100px;
    bottom: -10px;
    font-size: 3rem;
    background-color: rgba(250, 235, 215, 0.782);
    border: 2px solid rgb(197, 122, 122);

}

.plotpoint {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    /* position: relative; */
    background-attachment: fixed, scroll;
    
}

.plotpoint p {
    color: antiquewhite;
    font-size: 2rem;
    background-color: rgba(107, 85, 57, 0.691) ;
    text-align: justify;
    
    /* width: 80%;
    position: absolute;
    top: 80px;
    left: 50px; */
    
}

.plotpoint:nth-of-type(1) {
    background-image: url(images/asteroidcity.avif);
}

.plotpoint:nth-of-type(2) {
    background-image: url(images/train.jpg);
}
.plotpoint:nth-of-type(3) {
    background-image: url(images/Asteroid-City-Essay-Culture.webp);
}
