* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'VT323', monospace;
    
}

body {
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    width: 100vw;
    height: 25px;
    margin-bottom: 5px;

    position: fixed;
    top: 0;

    background-color: rgb(179, 179, 146);
}

nav ul {
    float: right;
}

nav ul li {

    display: inline;
    margin: 10px 20px;

}

nav ul li:hover {
    background-color: rgba(128, 128, 128, 0.636);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}

main {
    height: 100vh;
    margin: 5%;
    padding: 10%;

    background-color: rgba(255, 228, 196, 0.578);
}

h1 {
    color: rgb(134, 108, 73);
    font-size: 5rem;
    text-align: center;
}